* {
    margin : 0;
    padding : 0;
}

body {
    display : flex;
    flex-direction : column;
}


/* Header */
nav {
    background-color : rgb(54, 6, 6);
    height : 10vh;
    width : 100%;
}

nav ul{
    display : flex;
    justify-content : space-evenly;
    align-items : center;
    height : 100%;
}

nav ul li {
    list-style : None;
    margin-left : 15px;
    font-size : 1.5rem;
    padding : 5px;
    color : white;
}

nav ul li:hover {
    border : 2px solid white;
    border-radius : 5px;
    cursor : pointer;
}

/* Footer */

footer {
    background-color : rgb(54, 6, 6);
    color : white;
    height : 10vh;
    line-height : 10vh;
    text-align : center;
}

/* Main area */
main {
    display : flex;
    height : 80vh;
}
aside {
    margin : 0px 0px 0 0px;
    border : 2px solid black;
    flex : 1;
    padding : 10px;
}

aside h4 {
    text-align : center;
    text-decoration : underline;
}
aside p{
    margin-top : 5px;
    font-size : 20px;
}
aside p a {
    text-decoration : none;
    border : 2px solid black;
    border-radius: 5px;
    padding : 5px;
    background-color : grey;
    color : white;
    margin-left : 2px;
}
article{
    flex : 3;
    border : 2px solid black;
}
article h1 {
    margin : 5px 0 0 5px;
    text-align : center;
}
.metaData {
    margin : 4px;
    font-weight : bold;
}
.details {
    margin : 10px 10px 0px;
    font-size : 20px;
    line-height : 25px;
}

@media(max-width : 750px){
    nav {
        height : 20%;
    }
    nav ul {
        flex-direction : column;
    }
    main {
        flex-direction : column-reverse;
        height: 70%;
    }
}
